CertificateManagerClient/Service References/CertificateWarehouseService/CertificateWarehouse1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CertificateWarehouse" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://win-iv85psjvcob/CertificateWarehouseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://win-iv85psjvcob/CertificateWarehouseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://win-iv85psjvcob/CertificateWarehouseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CertificateManager.Data.Entities" />
      <xsd:import schemaLocation="http://win-iv85psjvcob/CertificateWarehouseService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICertificateWarehouseService_AddCertificateToOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCertificateToOrganization" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_AddCertificateToOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCertificateToOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_AddOrganizationToDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrganizationToDatabase" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_AddOrganizationToDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrganizationToDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_AddCertificateToDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCertificateToDatabase" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_AddCertificateToDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCertificateToDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_RemoveCertificateFromDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCertificateFromDatabase" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_RemoveCertificateFromDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCertificateFromDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_GetCertificateById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateById" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_GetCertificateById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_GetCertificateByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateByName" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_GetCertificateByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_GetCertificateByThumbprint_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateByThumbprint" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_GetCertificateByThumbprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateByThumbprintResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_GetCertificatesDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificatesDetails" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_GetCertificatesDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificatesDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_GetCertificatesByExpirationDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificatesByExpirationDate" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_GetCertificatesByExpirationDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificatesByExpirationDateResponse" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ICertificateWarehouseService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:portType name="ICertificateWarehouseService">
    <wsdl:operation name="AddCertificateToOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificateWarehouseService/AddCertificateToOrganization" message="tns:ICertificateWarehouseService_AddCertificateToOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificateWarehouseService/AddCertificateToOrganizationResponse" message="tns:ICertificateWarehouseService_AddCertificateToOrganization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrganizationToDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificateWarehouseService/AddOrganizationToDatabase" message="tns:ICertificateWarehouseService_AddOrganizationToDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificateWarehouseService/AddOrganizationToDatabaseResponse" message="tns:ICertificateWarehouseService_AddOrganizationToDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCertificateToDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificateWarehouseService/AddCertificateToDatabase" message="tns:ICertificateWarehouseService_AddCertificateToDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificateWarehouseService/AddCertificateToDatabaseResponse" message="tns:ICertificateWarehouseService_AddCertificateToDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCertificateFromDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificateWarehouseService/RemoveCertificateFromDatabase" message="tns:ICertificateWarehouseService_RemoveCertificateFromDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificateWarehouseService/RemoveCertificateFromDatabaseResponse" message="tns:ICertificateWarehouseService_RemoveCertificateFromDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificateWarehouseService/GetCertificateById" message="tns:ICertificateWarehouseService_GetCertificateById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificateWarehouseService/GetCertificateByIdResponse" message="tns:ICertificateWarehouseService_GetCertificateById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificateWarehouseService/GetCertificateByName" message="tns:ICertificateWarehouseService_GetCertificateByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificateWarehouseService/GetCertificateByNameResponse" message="tns:ICertificateWarehouseService_GetCertificateByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateByThumbprint">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificateWarehouseService/GetCertificateByThumbprint" message="tns:ICertificateWarehouseService_GetCertificateByThumbprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificateWarehouseService/GetCertificateByThumbprintResponse" message="tns:ICertificateWarehouseService_GetCertificateByThumbprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificatesDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificateWarehouseService/GetCertificatesDetails" message="tns:ICertificateWarehouseService_GetCertificatesDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificateWarehouseService/GetCertificatesDetailsResponse" message="tns:ICertificateWarehouseService_GetCertificatesDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificatesByExpirationDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificateWarehouseService/GetCertificatesByExpirationDate" message="tns:ICertificateWarehouseService_GetCertificatesByExpirationDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificateWarehouseService/GetCertificatesByExpirationDateResponse" message="tns:ICertificateWarehouseService_GetCertificatesByExpirationDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ICertificateWarehouseService/DoWork" message="tns:ICertificateWarehouseService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICertificateWarehouseService/DoWorkResponse" message="tns:ICertificateWarehouseService_DoWork_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CertificateWarehouseService" type="tns:ICertificateWarehouseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCertificateToOrganization">
      <soap:operation soapAction="http://tempuri.org/ICertificateWarehouseService/AddCertificateToOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrganizationToDatabase">
      <soap:operation soapAction="http://tempuri.org/ICertificateWarehouseService/AddOrganizationToDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCertificateToDatabase">
      <soap:operation soapAction="http://tempuri.org/ICertificateWarehouseService/AddCertificateToDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCertificateFromDatabase">
      <soap:operation soapAction="http://tempuri.org/ICertificateWarehouseService/RemoveCertificateFromDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateById">
      <soap:operation soapAction="http://tempuri.org/ICertificateWarehouseService/GetCertificateById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateByName">
      <soap:operation soapAction="http://tempuri.org/ICertificateWarehouseService/GetCertificateByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateByThumbprint">
      <soap:operation soapAction="http://tempuri.org/ICertificateWarehouseService/GetCertificateByThumbprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificatesDetails">
      <soap:operation soapAction="http://tempuri.org/ICertificateWarehouseService/GetCertificatesDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificatesByExpirationDate">
      <soap:operation soapAction="http://tempuri.org/ICertificateWarehouseService/GetCertificatesByExpirationDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ICertificateWarehouseService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CertificateWarehouse">
    <wsdl:port name="CertificateWarehouseService" binding="tns:CertificateWarehouseService">
      <soap:address location="http://win-iv85psjvcob/CertificateWarehouseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>