CertificateManagerClient/Service References/CertificateService/service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.ServiceModel.Samples" elementFormDefault="qualified" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/ServiceModelSamples/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" />
  <xs:element name="ListCertificatesInStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="storeLocation" type="q1:StoreLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCertificatesInStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="ListCertificatesInStoreResult" nillable="true" type="q2:ArrayOfX509Certificate2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCertificatesInRemoteStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="storeLocation" type="q3:StoreLocation" />
        <xs:element minOccurs="0" name="serverName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCertificatesInRemoteStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="ListCertificatesInRemoteStoreResult" nillable="true" type="q4:ArrayOfX509Certificate2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListExpiringCertificatesInStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="storeLocation" type="q5:StoreLocation" />
        <xs:element minOccurs="0" name="days" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListExpiringCertificatesInStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="ListExpiringCertificatesInStoreResult" nillable="true" type="q6:ArrayOfX509Certificate2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListExpiringCertificatesInRemoteStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="storeLocation" type="q7:StoreLocation" />
        <xs:element minOccurs="0" name="days" type="xs:int" />
        <xs:element minOccurs="0" name="serverName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListExpiringCertificatesInRemoteStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="ListExpiringCertificatesInRemoteStoreResult" nillable="true" type="q8:ArrayOfX509Certificate2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCertificateInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="certificate" nillable="true" type="q9:X509Certificate2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintCertificateInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumCertificatesByStoreName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="name" type="q10:StoreName" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="location" type="q11:StoreLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumCertificatesByStoreNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="location" type="q12:StoreLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumCertificatesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallCertificateLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="storeLocation" type="q13:StoreLocation" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="certificate" nillable="true" type="q14:X509Certificate2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallCertificateLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InstallCertificateLocalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallCertificateRemote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="storeLocation" type="q15:StoreLocation" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="certificate" nillable="true" type="q16:X509Certificate2" />
        <xs:element minOccurs="0" name="serverName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstallCertificateRemoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InstallCertificateRemoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="certificateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="location" type="q17:StoreLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCertificateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCertificateRemote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="certificateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="location" type="q18:StoreLocation" />
        <xs:element minOccurs="0" name="serverName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCertificateRemoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCertificateRemoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCertificateByThumbprint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="certificateName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thumbprint" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="location" type="q19:StoreLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCertificateByThumbprintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCertificateByThumbprintResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCertificateByThumbprintRemote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thumbprint" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="location" type="q20:StoreLocation" />
        <xs:element minOccurs="0" name="serverName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCertificateByThumbprintRemoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCertificateByThumbprintRemoteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCertificateLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="storeLocation" type="q21:StoreLocation" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="certificate" nillable="true" type="q22:X509Certificate2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCertificateLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveCertificateLocalResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompareCertificatesInStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="storeLocation" type="q23:StoreLocation" />
        <xs:element minOccurs="0" name="serverA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serverB" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompareCertificatesInStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" minOccurs="0" name="CompareCertificatesInStoreResult" nillable="true" type="q24:ArrayOfX509Certificate2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>