CertificateManagerClient/Service References/CalculatorService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import schemaLocation="http://localhost:8000/ServiceModelSamples/service?xsd=xsd0" namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import schemaLocation="http://localhost:8000/ServiceModelSamples/service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/ServiceModelSamples/service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography.X509Certificates" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_ListCertificatesInStore_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCertificatesInStore" />
  </wsdl:message>
  <wsdl:message name="ICalculator_ListCertificatesInStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCertificatesInStoreResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_ListCertificatesInRemoteStore_InputMessage">
    <wsdl:part name="parameters" element="tns:ListCertificatesInRemoteStore" />
  </wsdl:message>
  <wsdl:message name="ICalculator_ListCertificatesInRemoteStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListCertificatesInRemoteStoreResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_ListExpiringCertificatesInStore_InputMessage">
    <wsdl:part name="parameters" element="tns:ListExpiringCertificatesInStore" />
  </wsdl:message>
  <wsdl:message name="ICalculator_ListExpiringCertificatesInStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListExpiringCertificatesInStoreResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_ListExpiringCertificatesInRemoteStore_InputMessage">
    <wsdl:part name="parameters" element="tns:ListExpiringCertificatesInRemoteStore" />
  </wsdl:message>
  <wsdl:message name="ICalculator_ListExpiringCertificatesInRemoteStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListExpiringCertificatesInRemoteStoreResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_PrintCertificateInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintCertificateInfo" />
  </wsdl:message>
  <wsdl:message name="ICalculator_PrintCertificateInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintCertificateInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_EnumCertificatesByStoreName_InputMessage">
    <wsdl:part name="parameters" element="tns:EnumCertificatesByStoreName" />
  </wsdl:message>
  <wsdl:message name="ICalculator_EnumCertificatesByStoreName_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnumCertificatesByStoreNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_EnumCertificates_InputMessage">
    <wsdl:part name="parameters" element="tns:EnumCertificates" />
  </wsdl:message>
  <wsdl:message name="ICalculator_EnumCertificates_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnumCertificatesResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_InstallCertificateLocal_InputMessage">
    <wsdl:part name="parameters" element="tns:InstallCertificateLocal" />
  </wsdl:message>
  <wsdl:message name="ICalculator_InstallCertificateLocal_OutputMessage">
    <wsdl:part name="parameters" element="tns:InstallCertificateLocalResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_InstallCertificateRemote_InputMessage">
    <wsdl:part name="parameters" element="tns:InstallCertificateRemote" />
  </wsdl:message>
  <wsdl:message name="ICalculator_InstallCertificateRemote_OutputMessage">
    <wsdl:part name="parameters" element="tns:InstallCertificateRemoteResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DeleteCertificate_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCertificate" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DeleteCertificate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DeleteCertificateRemote_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCertificateRemote" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DeleteCertificateRemote_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCertificateRemoteResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DeleteCertificateByThumbprint_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCertificateByThumbprint" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DeleteCertificateByThumbprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCertificateByThumbprintResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DeleteCertificateByThumbprintRemote_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCertificateByThumbprintRemote" />
  </wsdl:message>
  <wsdl:message name="ICalculator_DeleteCertificateByThumbprintRemote_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCertificateByThumbprintRemoteResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_RemoveCertificateLocal_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCertificateLocal" />
  </wsdl:message>
  <wsdl:message name="ICalculator_RemoveCertificateLocal_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCertificateLocalResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_CompareCertificatesInStore_InputMessage">
    <wsdl:part name="parameters" element="tns:CompareCertificatesInStore" />
  </wsdl:message>
  <wsdl:message name="ICalculator_CompareCertificatesInStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompareCertificatesInStoreResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ICalculator_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="ListCertificatesInStore">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/ListCertificatesInStore" message="tns:ICalculator_ListCertificatesInStore_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/ListCertificatesInStoreResponse" message="tns:ICalculator_ListCertificatesInStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListCertificatesInRemoteStore">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/ListCertificatesInRemoteStore" message="tns:ICalculator_ListCertificatesInRemoteStore_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/ListCertificatesInRemoteStoreResponse" message="tns:ICalculator_ListCertificatesInRemoteStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListExpiringCertificatesInStore">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/ListExpiringCertificatesInStore" message="tns:ICalculator_ListExpiringCertificatesInStore_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/ListExpiringCertificatesInStoreResponse" message="tns:ICalculator_ListExpiringCertificatesInStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListExpiringCertificatesInRemoteStore">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/ListExpiringCertificatesInRemoteStore" message="tns:ICalculator_ListExpiringCertificatesInRemoteStore_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/ListExpiringCertificatesInRemoteStoreResponse" message="tns:ICalculator_ListExpiringCertificatesInRemoteStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintCertificateInfo">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/PrintCertificateInfo" message="tns:ICalculator_PrintCertificateInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/PrintCertificateInfoResponse" message="tns:ICalculator_PrintCertificateInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnumCertificatesByStoreName">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/EnumCertificatesByStoreName" message="tns:ICalculator_EnumCertificatesByStoreName_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/EnumCertificatesByStoreNameResponse" message="tns:ICalculator_EnumCertificatesByStoreName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnumCertificates">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/EnumCertificates" message="tns:ICalculator_EnumCertificates_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/EnumCertificatesResponse" message="tns:ICalculator_EnumCertificates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InstallCertificateLocal">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/InstallCertificateLocal" message="tns:ICalculator_InstallCertificateLocal_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/InstallCertificateLocalResponse" message="tns:ICalculator_InstallCertificateLocal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InstallCertificateRemote">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/InstallCertificateRemote" message="tns:ICalculator_InstallCertificateRemote_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/InstallCertificateRemoteResponse" message="tns:ICalculator_InstallCertificateRemote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCertificate">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/DeleteCertificate" message="tns:ICalculator_DeleteCertificate_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/DeleteCertificateResponse" message="tns:ICalculator_DeleteCertificate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCertificateRemote">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/DeleteCertificateRemote" message="tns:ICalculator_DeleteCertificateRemote_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/DeleteCertificateRemoteResponse" message="tns:ICalculator_DeleteCertificateRemote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCertificateByThumbprint">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/DeleteCertificateByThumbprint" message="tns:ICalculator_DeleteCertificateByThumbprint_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/DeleteCertificateByThumbprintResponse" message="tns:ICalculator_DeleteCertificateByThumbprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCertificateByThumbprintRemote">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/DeleteCertificateByThumbprintRemote" message="tns:ICalculator_DeleteCertificateByThumbprintRemote_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/DeleteCertificateByThumbprintRemoteResponse" message="tns:ICalculator_DeleteCertificateByThumbprintRemote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCertificateLocal">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/RemoveCertificateLocal" message="tns:ICalculator_RemoveCertificateLocal_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/RemoveCertificateLocalResponse" message="tns:ICalculator_RemoveCertificateLocal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompareCertificatesInStore">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/CompareCertificatesInStore" message="tns:ICalculator_CompareCertificatesInStore_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/CompareCertificatesInStoreResponse" message="tns:ICalculator_CompareCertificatesInStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/GetData" message="tns:ICalculator_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICalculator/GetDataResponse" message="tns:ICalculator_GetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>